@using UniversityCourseAndResultManagement.Models
@model UniversityCourseAndResultManagement.Models.StudentResult

@{
    ViewBag.Title = "Save Student Result";
    List<Student> Students = ViewBag.StudentList;
    

}

<div>
    <form name="myForm" @*action="demo_form.asp"*@ onsubmit="return validateForm()" method="POST">

        <fieldset>
            <legend>Save Student Result</legend>
            <table>
                <tr>
                    <td>
                        @Html.LabelFor(m => m.RegNo)
                    </td>
                    <td>
                        @Html.DropDownListFor(model => model.RegNo, new SelectList(Students, "RegNo", "RegNo"), "-- Select Registration Number--")
                        @Html.ValidationMessageFor(m => m.RegNo)
                    </td>

                </tr>
                <tr>
                    <td>
                        <p>Name</p>
                    </td>
                    <td>
                        <input type="text" name="Name" id="Name" value="" readonly="readonly">
                        @*<input type="text" name="RegNo" id="RegNo" value="" readonly="readonly">*@
                    </td>

                </tr>
                <tr>
                    <td>
                        <p>Email</p>
                    </td>
                    <td>
                        <input type="text" name="Email" id="Email" value="" readonly="readonly">


                    </td>

                </tr>
                <tr>
                    <td>
                        <p>Department</p>
                    </td>
                    <td>
                        <input type="text" name="DepartmentName" id="DepartmentName" value="" readonly="readonly">
                    </td>

                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(x => x.CourseId)
                    </td>
                    <td>
                        <select name="CourseId" id="CourseId" autofocus required title="*Please select a Course"></select>
                        @Html.ValidationMessageFor(m => m.CourseId)
                    </td>
                <tr>
                    <td>@Html.LabelFor(m => m.Grade)</td>
                    <td>
                        <span>
                            @Html.DropDownListFor(m => m.Grade, new SelectList(ViewBag.Grade, "Value", "Text"))
                            @Html.ValidationMessageFor(m => m.Grade)
                        </span>

                    </td>

                </tr>



                <tr>

                    <td></td>

                </tr>

                <tr>

                    <td>
                        <input type="submit" value="Enroll" />

                    </td>


                    <td>@ViewBag.Message</td>
                </tr>




            </table>
        </fieldset>
    </form>
</div>


@section Scripts{

    <script>
        $(document).ready(function () {

            $("#RegNo").change(function () {
               //alert("Hello");
                var regNo = $("#RegNo").val();
                //$("#studentId").empty();
                var json = { RegNo: regNo };
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetStudentByRegNo", "StudentResult")',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(json),
                    success: function (data) {
                        //debugger;
                        var testdata = data;
                        //alert(data);

                        //alert(key);

                        $("#Name").val(data.Name);
                        $("#Email").val(data.Email);
                        //$("#RegNo").val(data.Email);




                    }
                });
            });

            $("#RegNo").change(function () {
                //alert("Hello");
                var regNo = $("#RegNo").val();
                //$("#studentId").empty();
                var json = { RegNo: regNo };
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetDepartmentNameByRegNo", "StudentResult")',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(json),
                    success: function (data) {
                        //debugger;
                        var testdata = data;
                        //alert(data);

                        
                        $("#DepartmentName").val(data.DepartmentName);


                    }
                });
            });


            $("#RegNo").change(function () {
                //alert("Hello");
                var regNo = $("#RegNo").val();
                $("#CourseId").empty();
                $("#CourseId").append('<option value="">' + 'Select...' + '</option>');
                //$("#studentId").empty();
                var json = { RegNo: regNo };
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetCourseNameByRegNo", "StudentResult")',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(json),
                    success: function (data) {
                        //debugger;

                        $.each(data, function (key, value) {
                            //alert(key);
                            $("#CourseId").append('<option value=' + value.Id + '>' + value.Name + '</option>');
                        });
                        //var testdata = data;
                        ////alert(data);

                       

                        

                    }
                });
            });
        });
       

        




    </script>

}


