@using UniversityCourseAndResultManagement.Models
@model UniversityCourseAndResultManagement.Models.EnrollCourse

@{
    ViewBag.Title = "Enroll In a Course";

    List<Student> Students = ViewBag.StudentList;
}

<div>
    <form method="POST">

        <fieldset>
            <legend>Enroll In a Course</legend>
            <table>
                <tr>
                    <td>
                        @Html.LabelFor(m => m.RegNo)
                    </td>
                    <td>
                        @Html.DropDownListFor(model => model.RegNo, new SelectList(Students, "DepartmentId", "RegNo"), "-- Select Registration Number--")
                        @Html.ValidationMessageFor(m => m.RegNo)
                    </td>

                </tr>
                <tr>
                    <td>
                        <p>Name</p>
                    </td>
                    <td>
                        <input type="text" name="Name" id="Name" value="" readonly="readonly">
                    </td>

                </tr>
                <tr>
                    <td>
                        <p>Email</p>
                    </td>
                    <td>
                        <input type="text" name="Email" id="Email" value="" readonly="readonly">


                    </td>

                </tr>
                <tr>
                    <td>
                        <p>Department</p>
                    </td>
                    <td>
                        <input type="text" name="DepartmentName" id="DepartmentName" value="" readonly="readonly">
                    </td>

                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(x => x.CourseId)
                    </td>
                    <td>
                        <select name="CourseId" id="CourseId"></select>
                    </td>
                <tr>
                    <td>@Html.LabelFor(m => m.Date)</td>
                    <td>
                        <span>
                            <input id="Date" name="Date" type="text" value="" />
                        </span>

                    </td>

                </tr>



                <tr>

                    <td></td>

                </tr>

                <tr>

                    <td>
                        <input type="submit" value="Enroll" />

                    </td>

                
                    <td>@ViewBag.Message</td>
                </tr>




            </table>
        </fieldset>
    </form>
</div>


@section Scripts{

    <script>
        $(document).ready(function () {

            $("#RegNo").change(function () {
                //alert("Hello");
                var regNo = $("#RegNo").val();
                //$("#studentId").empty();
                var json = { id: regNo };
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetStudentByRegNo", "EnrollCourse")',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(json),
                    success: function (data) {
                        //debugger;
                        var testdata = data;
                        //alert(data);

                        //alert(key);

                        $("#Name").val(data.Name);
                        $("#Email").val(data.Email);




                    }
                });
            });

            $("#RegNo").change(function () {
                //alert("Hello");
                var regNo = $("#RegNo").val();
                //$("#studentId").empty();
                var json = { id: regNo };
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetDepartmentNameById", "EnrollCourse")',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(json),
                    success: function (data) {
                        //debugger;
                        var testdata = data;
                        //alert(data);

                        //alert(key);

                        $("#DepartmentName").val(data.DepartmentName);


                    }
                });
            });


            $("#RegNo").change(function () {
                //alert("Hello");
                var regNo = $("#RegNo").val();
                //$("#studentId").empty();
                var json = { id: regNo };
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetCourseNameById", "EnrollCourse")',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(json),
                    success: function (data) {
                        //debugger;

                        $.each(data, function (key, value) {
                            //alert(key);
                            $("#CourseId").append('<option value=' + value.Id + '>' + value.Name + '</option>');
                        });
                        //var testdata = data;
                        ////alert(data);

                        ////alert(key);

                        //$("#DepartmentName").val(data.DepartmentName);


                    }
                });
            });
        });
        $(function () {
            $("#Date").datepicker().datepicker("setDate", new Date());
            //alert("Test from date");
        });






    </script>

}
